body {
  background-color: #1d2233;
  font-family: 'Noto Sans', sans-serif;
	margin: 0;
}

#mapid {
	margin: auto;
	width: 800px;
	height: 98vh;
	background-color: #151926;
	font-size: 1em;
	}

.outside-container {
	background: white;
}


.grid-title {
	text-align: center;
	font-size: 2em;
	padding: 30px 0;
  color: white;
	margin: auto;
	font-weight: bold;
}


.grid-container {
  display: grid;
	margin: auto;
	margin-top: 40px;
	background: #151926;
}



.grid-container div:nth-child(n+2):nth-child(-n+9) {
    background: #def0d8;
}


.grid-container div:nth-child(10) {
    background: #fcf8e3;
}

.grid-container div:nth-child(n+11):nth-child(-n+14) {
    background: white;
}

.grid-container div:nth-child(n+15):nth-child(-n+16) {
    background: #d8ecf7;
}

.grid-container div:nth-child(n+17):nth-child(-n+18) {
    background: #e6a4a4;
}

.grid-container div:nth-child(n+19):nth-child(-n+20) {
    background: #efcaec;
}

.grid-container div:nth-child(n+21) {
    background: #efbb83;
}

.grid-container div:last-child {
    margin-bottom: 20px;
}



.grid-item {
  background-color: #221d33;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 6px;
  font-size: 25px;
  text-align: center;
	margin: 0 20px;
}




.grid-item > a:link {
  text-decoration: none;
  color: #5a5a5a;
}

.grid-item > a:hover {
  color: #98ffcc;
}

.grid-item > a:active {
  color: #98ffcc;
}



	@media only screen and (max-width: 600px) {
  #mapid {
		margin: auto;
		width: 96vw;
		height: 66vh;
  }
}